<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>
<body>
    <%- include('./partials/nav') %> <!-- add nav bar to menu page -->
    <% if (menuItems.length === 0) { %>
        <p> No items found for this category.</p>
    <% } else { %>
        <ul>
            <% menuItems.forEach(item => { %>
                <li>
                    <strong><%= item.name %>: $<%= item.price %></strong>
                    <ul>Rating: <%= item.rating %> stars</ul>
                    <ul><%= item.details %></ul>
                </li>
            <% }) %>
        </ul>
    <% } %>
</body>
</html>